*{
    color: #fff;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
